.powered-by-firepad {
    display: none;
}

.ace_editor {
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#aceJsEditorDiv .ace_scrollbar-v {
    overflow-y: hidden;
    display: none;
    visibility: hidden;
}

#aceJsEditorDiv .ace_scrollbar-h {
    overflow-x: auto;
}

#aceHtmlEditorDiv .ace_scrollbar-v {
    overflow-y: auto;
}

#aceHtmlEditorDiv .ace_scrollbar-h {
    overflow-x: auto;
}

#cssEditorDiv .ace_scrollbar-v {
    overflow-y: auto;
}

#cssEditorDiv .ace_scrollbar-h {
    overflow-x: auto;
}

/*traceView/trace-view.css governs the gutter style:
.ace_gutter-cell.seecoderun-gutter-decoration
*/
/*Changed in ace/theme*/
/*.ace-chrome .ace_gutter {*/
/*    background-color: #E5F1FB;*/
/*}*/

.ace-chrome .ace_marker-layer .default-marker {
    position: absolute;
    background: rgb(250, 250, 155);
    border: 1px solid rgb(200, 200, 150);
}

.ace-chrome .ace_marker-layer .expression-marker {
    position: absolute;
    background: #E5F1FB;
    border: none;
}

.ace-chrome .ace_marker-layer .yellow-marker {
    position: absolute;
    background: rgb(250, 250, 155);
    border: none;
}

.ace-chrome .ace_marker-layer .red-marker {
    position: absolute;
    background: rgb(250, 170, 170);
    border: none;
}

.ace-chrome .ace_marker-layer .seecoderun-blue-marker {
    position: absolute;
    background: #00398D;
    color: #3C8AFC;
    border: 1px solid #00398D;
}

.ace-chrome .ace_marker-layer .error-marker {
    position: absolute;
    background: #ffe6e6;
    border: none;
}

.ace-chrome .ace_marker-layer .log-marker {
    position: absolute;
    background: rgb(136, 204, 136);
    border: none;
}

.ace-chrome .ace_marker-layer .function-marker {
    position: absolute;
    background-color: transparent;
    border: none;
    margin-left: -5px;
    border-left: 2px solid #0066ff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.ace-chrome .ace_marker-layer .block-marker {
    position: absolute;
    background-color: transparent;
    border: none;
    border-left: 1px solid green;
}

.ace-chrome .ace_marker-layer .git-line-added-marker {
    position: absolute;
    background-color: #eaffea;
    border: none;
}

.ace-chrome .ace_marker-layer .git-text-added-marker {
    position: absolute;
    background-color: #a6f3a6;
    border: none;
}

.ace-chrome .ace_marker-layer .git-line-removed-marker {
    position: absolute;
    background-color: #ffecec;
    border: none;
}

.ace-chrome .ace_marker-layer .git-text-removed-marker {
    position: absolute;
    background-color: #f8cbcb;
    border: none;
}
