.ace_editor {
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#aceJsEditorDiv .ace_scrollbar-v {
    overflow-y: hidden;
    display: none;
    visibility: hidden;
}

#aceJsEditorDiv .ace_scrollbar-h {
    overflow-x: auto;
}

#aceHtmlEditorDiv .ace_scrollbar-v {
    overflow-y: auto;
}

#aceHtmlEditorDiv .ace_scrollbar-h {
    overflow-x: auto;
}

#cssEditorDiv .ace_scrollbar-v {
    overflow-y: auto;
}

#cssEditorDiv .ace_scrollbar-h {
    overflow-x: auto;
}

/*traceView/trace-view.css governs the gutter style:
.ace_gutter-cell.seecoderun-gutter-decoration
*/
/*Cahnged in ace/theme*/
/*.ace-chrome .ace_gutter {*/
/*    background-color: #E5F1FB;*/
/*}*/

.ace-chrome .ace_marker-layer .expression-range {
    position: absolute;
    background: rgb(250, 250, 155);
    border: 1px solid rgb(200, 200, 150);
}

.ace-chrome .ace_marker-layer .expression-highlight {
    position: absolute;
    background: #E5F1FB;
    border: none;
}

.powered-by-firepad {
    display: none;
}