.monaco-editor-decoration-les-expressionLive {
  opacity: 1;
  filter: unset !important;
  font-weight: 500;
  /*font-size-adjust: 1.5;*/
}

.monaco-editor-decoration-les-textHighlight {
  background: rgba(30, 144, 255, 0.2);
}
