# dependencies
*node_modules
# testing
/coverage

# misc
package-lock.json
.firebaserc
.vscode/
.idea/*
!.idea/rcb-settings.xml
.DS_Store
.env.development.local
.env.test.local
.env.production.local
.firebase

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
