

.powered-by-firepad {
  display: none;
}

#runCode {
	float: right;
}

.line_height {
    white-space:nowrap;
    color: #999487;
    font-size:11px;
    height: 14px; 
    
}
    
.highlight_gutter{
    color: black;
    background: #eeeeee;
    display: table-row;

}

.iframeCss{
    height: 700px; 
    width: 100%;
    border-left: 1px solid #a6a195;
    overflow:auto;
    padding-left: 1.5px;
}
   

.flow
{
    overflow: auto;
}
@-moz-document url-prefix() {
   .line_height {
    white-space:nowrap;
    color: #999487;
    font-size:11px;
    height: 16.2px; 
}
.highlight_gutter{
     color: black;
    background: #eeeeee;
    display: table-row;
}
}
.iframeCssPreview
{
 height: 100%;
 width: 100%; 
 border: none;
 overflow:overflow;
}

