@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.seecoderun-chat {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, .4);
  background-color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 22px;
  color: #666;
  overflow: visible;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 0;
  width: 300px;
  height: 450px;
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s
}

.seecoderun-chat .seecoderun-chat-logo {
  opacity: .9;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -160px;
  left: 50%;
  z-index: 2;
  margin-left: -70px
}

.seecoderun-chat .seecoderun-chat-toolbar {
  height: 40px;
  padding: 5px;
  color: #888888;
  background: #f8f8f8;
  border-style:solid;
  border-width: 0px 0px 0px 3px;
}

.seecoderun-chat .seecoderun-chat-toolbar>h2 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px
}

.seecoderun-chat input {
  background: 0 0;
  border: none;
  box-sizing: border-box;
  padding: 0 10px;
  height: 30px;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  outline: 0
}

.seecoderun-chat input::-webkit-input-placeholder {
  color: #888888;
  font-weight: lighter
}

.seecoderun-chat input::-moz-placeholder {
  color: #888888;
  font-weight: lighter
}

.seecoderun-chat input:-ms-input-placeholder {
  color: #888888;
  font-weight: lighter
}

.seecoderun-chat input::placeholder {
  color: #888888;
  font-weight: lighter
}

.seecoderun-chat .seecoderun-chat-username-field {
  background: rgba(52, 152, 219, .7);
  padding: 10px;
  position: relative
}

.seecoderun-chat .seecoderun-chat-username-field .seecoderun-chat-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 200px;
  background: #3498db;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #217dbb;
}

.seecoderun-chat .seecoderun-chat-username-field label {
  text-transform: uppercase;
  line-height: 32px;
  font-size: 14px;
  color: #FFF;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.seecoderun-chat .seecoderun-chat-username-field input {
  padding-left: 50px;
  color: #FFF;
  height: 40px;
  font-size: 20px;
  word-wrap: break-word;
}

.seecoderun-chat ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  overflow: auto;
  position: absolute;
  top: 62px;
  left: 0;
  right: 0;
  bottom: 40px;
  z-index: 1;
}

.seecoderun-chat ul li {
  /*margin-bottom: 1px;*/
  line-height: 24px;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  border-style:solid;
  border-width: 0px 0px 0px 3px;
  /*box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);*/
  padding-left: 5px;
  word-wrap: break-word;
}

.seecoderun-chat ul li:last-child {
  margin: 0
}

.seecoderun-chat ul .seecoderun-chat-username {
  margin-right: 10px
  float: left;
}

.seecoderun-chat ul .seecoderun-chat-timestamp {
  float: right;
  padding-right: 4px;
}

.seecoderun-chat footer {
  background-color: rgba(255, 255, 255, .7);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
}

#chatMessageFeedbackSent, #chatMessageFeedbackNotSent {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  z-index: 2;
}

.seecoderun-chat footer input {
  background: 0 0;
  border: none;
  height: 40px;
  color: #34495e;
  padding-left: 10px;
  word-wrap: break-word;
}

.seecoderun-chat footer input::-webkit-input-placeholder {
  color: rgba(52, 73, 94, .4)
}

.seecoderun-chat footer input::-moz-placeholder {
  color: rgba(52, 73, 94, .4)
}

.seecoderun-chat footer input:-ms-input-placeholder {
  color: rgba(52, 73, 94, .4)
}

.seecoderun-chat footer input::placeholder {
  color: rgba(52, 73, 94, .4)
}

.seecoderun-chat header {
  background-color: #0066ff;
  color: white;
  text-align: center;
  font-size: 18px;
}

.seecoderun-chat-toolbar input {
   display: inline-block;
   width: 180px;
   font-size: 14px;
}