#shareBox {
    padding-left: 2px;
    word-wrap: break-word;
    display: none;
}

.navbar-xs {
    min-height:28px;
    height: 28px;
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-left: none;*/
    /*border-top: none;*/
    /*border-right: none;*/
    /*border-bottom-color: #0066ff;*/
}
.navbar-xs .navbar-brand{
    padding: 0px 4px;
    font-size: 16px;
    line-height: 20px;
}
.navbar-xs .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
}
.navbar-nav .loader {
    margin: 0px 0px 0px 0px;
}

.navbar .navbar-brand img {
    max-height: 40%;
}
.navbar .navbar-brand i{
    padding-top: 4px;
    padding-left: -6px;
    padding-right: -6px;
    margin-left: -6px;
    margin-right: -6px;
    display: inline;
}

ul > li label, ul > li span {
    color: #888888;
    font-weight: 100;
    font-size: 12px;
}

div .navbar-item {
     padding-top: 2px;
}
ul > li div:hover label, ul > li div:hover span {
    color: 	#0066ff;
    font-weight: 200;
    cursor: pointer;
}

