#shareBox {
    /*width: 800px;*/
    /*top: 40px;*/
    /*right: 0px;*/
    /*position: absolute;*/
    padding-left: 2px;
    word-wrap: break-word;
    display: none;
}
#vis-navbar {
    padding-bottom: 2px;
}

.navbar-xs {
    min-height:28px;
    height: 28px;
    border-style: solid;
    border-width: 2px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: #0066ff;
}
.navbar-xs .navbar-brand{
    padding: 0px 4px;
    font-size: 16px;
    line-height: 20px;
}
.navbar-xs .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
}
.navbar-nav .loader {
    margin: 0px 0px 0px 0px;
}

.navbar .navbar-brand img {
    max-height: 50%;
}

.navbar-item {
    color: #888888;
    font-size: 14px;
}