.ale.branch.function.normal {
    font-size: 90%;
    font-weight: normal;
    opacity: 0.647;
    /*color: palevioletred;*/
}

.ale.branch.function.active {
    font-size: 100%;
    /*font-weight: bold;*/
    opacity: 1;
    /*color: gold;*/
}

.ale.branch.function.hover {
    font-size: 100%;
    font-weight: bold;
    opacity: 1;
    background-color: rgba(0, 0, 255, 0.3);
    /*color: tomato;*/
}

.ale.branch.control.normal {
    font-size: 90%;
    filter: contrast(0.33);
    font-weight: normal;
    /*opacity: 0.647;*/
    /*color: grey;*/

}

.ale.branch.control.active {
    font-size: 100%;
    filter: contrast(1);
    font-weight: bold;
    /*color: tomato;*/
}

.ale.branch.control.hover {
    font-size: 100%;
    filter: contrast(1);
    font-weight: bold;
    background-color: rgba(255, 50, 50, 0.3);
}

.ale.value.normal {
    font-size: 90%;
    /*filter: contrast(0.647);*/
    filter: contrast(0.33);
    transition-duration: 250ms;
    transition-property: filter, color;
    transition-timing-function: ease-in-out;
    /*color: seagreen;*/
}


.ale.value.active {
    font-size: 100%;
    filter: contrast(1);
}

.ale.value.hover {
    font-size: 100%;
    filter: contrast(1);
    background-color: rgba(0, 255, 0, 0.2);
    /*color: crimson;*/
    /*color: darkgreen;*/
}


.ale.expression.hover {
    font-size: 100%;
    filter: contrast(1);
    font-weight: bold;
    background-color: rgba(25, 255, 25, 0.075);
}

.ale.import.normal {
    font-size: 90%;
    filter: contrast(0.647);
    font-weight: normal;
    /*color: cornflowerblue;*/
}

.ale.import.active {
    font-size: 100%;
    filter: contrast(1);
    font-weight: bold;
    /*color: red;*/
}

.ale.import.hover {
    font-size: 100%;
    filter: contrast(1);
    font-weight: bold;
    background-color: rgba(255, 0, 255, 0.2);
}


.ale.contentWidgetDomNode {
    min-width: 8px;
    max-height: 14px;
    overflow: hidden;
}

.ale.contentWidgetDomNode.hover {
    background: rgba(234, 166, 123, 0.35);
}
