
.myGlyphMarginClass {
  background: blue;
  opacity: 0.5;
}
.myContentClass {
  background: lightblue;
  opacity: 0.5;
}

.box-shadow-bottom {
    box-shadow: 0px 20px 20px -20px #888888;
}

.box-shadow-left {
    box-shadow:inset 2px -1px 5px -4px #888888;
}

.box-shadow-right {
    box-shadow:inset -2px -1px 5px -4px #888888;
}

#mainContainer{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 99.5%;
    overflow: hidden;
}

#main-splitter-left{
    margin-top: 22px;
    bottom: 0px;
    padding-right: 0px;
}

#main-splitter-right{
    margin-top: 22px;
    bottom: 0px;
    padding-left: 0px;
    overflow-y: hidden;
}

#js-container{
    min-height: 100%;
    height: 100%;
    bottom: 0px;
    overflow-y: hidden;
}

#js-editor-trace-gutter{
    overflow: hidden;
}

#right-splitter{
    bottom: 0px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#right-splitter-top{
   border-top: 1px solid #eee;
   overflow: hidden;
}
#right-splitter-bottom{
    bottom: 0px;
}

#preview {
    width: 100%;
    height: 100%;
}

#webAppViewer {
  frameborder: 0;
    border: none;
    width: 100%;
  height: 100%;
}

#visualization-container{
    padding-top: 5px;
    min-height: 100%;
    /*overflow: hidden;*/
}

#visualization-container .panel-body{
    padding: 0;
    overflow: auto;
}

#visualization-container .panel {
    margin-bottom: 5px;
}

#visualization-container select,
#visualization-container input,
#visualization-container button{
    font-size: 12px;
    line-height: 12px;
    height: 22px;
}

#visualization-container select,
#visualization-container input{
    border-color: #eee;
    border-width: 0px 0px 1px 0px;
    padding: 3px 0;
}

#visualization-container select:hover,
#visualization-container input:hover{
    border-color: #004AB8;
}

#visualization-container select:focus,
#visualization-container input:focus{
    border-color: #0066ff;
}

#visualization-container input{
    padding-left: 2px;
}

ul.nav .glyphicon {
    padding-right: 2px;
    font-size: 13px;
}

.nav-tabs {
    clear: both;
    position:fixed;
    top: 30px;
}

.nav-tabs .nav-link {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs .nav-link {
    padding-top: 0px;
    padding-bottom: 3px;
}

.nav-tabs  .nav-link {
    color: black;
    /*font-weight: normal;*/
    font-size: 13px;
    border-style: solid;
    font-family: Lato,"Helvetica Neue",Arial,Verdana,Tahoma,"Lucida Sans",FreeSans,"Lucida Sans Unicode","Luxi Sans",sans-serif;
    margin-left: 1px;
}

.nav-tabs  .nav-link {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom-width: 1px;
  border-color: #eee;;
}

.nav-tabs  .nav-link:visited {
  /*color: #888888;*/
}

.nav-tabs  .nav-link:hover {
  color: #0066ff;
  border-color:#0066ff;
}

.nav-tabs .nav-item .active {
  border-color:#004AB8;
  /*font-weight: bold;*/
}

.nav-tabs .nav-item .active:hover {
  color: black;
  border-color:#004AB8;
  cursor: initial;
}



.tab-content .fade {
   -webkit-transition: opacity 0.07s linear;
      -moz-transition: opacity 0.07s linear;
       -ms-transition: opacity 0.07s linear;
        -o-transition: opacity 0.07s linear;
           transition: opacity 0.07s linear;
}

#main-splitter-left .tab-content {
    border-top: 1px solid #eee;
}

.tab-content {
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#code-section .resizable {
    width: 40%;
    display: inline-block;
}


#code-section .ui-resizable-ew {
    padding: 0px;
    margin: 0px;
    cursor: ew-resize;
    width: 8px;
    right: 0px;
    margin-right: -6px;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border-color: #eee;
    border-style: solid;
    border-width:  0px 0px 0px 1px;
}

#visualization-container {
    padding-right: 1px;
}

#visualization-container .table {
    padding-top: 4px;
}

#visualization-container .table tbody tr:hover td,
    #visualization-container .table tbody tr:hover th {
    background-color: #f6f6bd;
    border-bottom-color: #eee;
}

.panel-debug {
    border-color: #ddd;
    border-left: none;
    border-top: none;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.panel-debug:hover > .card-header {
    border-bottom-color: #0066ff;
}

.panel-debug > .card-header {
  color: #333;
  border-color: #ddd;
}

.panel-debug > .card-header.w3-row-padding >:first-child{
    padding-left: 0px;
}

.panel-debug >.card-header > .card-title {
     cursor: pointer;
}

.panel-debug >.card-header >.card-title:hover{
    color: #004AB8;
}

.panel-debug >.card-header >.card-title:active{
    color: #0066ff;
}

.panel-debug > .card-header + .panel-collapse > .card-block {
  border-top-color: #ddd;
}

.panel-debug > .card-header .badge {
  color: #f5f5f5;
  background-color: #333;
}

#visualization-container .btn,
    #visualization-container .alert {
    border-left: none;
    border-top: none;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

#play-toolbar >.w3-row >div{
    height: 22px;
}

#play-toolbar .card-header > .card-title{
    color: #333;
    cursor: default;
}

#play-toolbar button{
    padding-top: 3px;
}
