vis-viewer{
  position: relative;
}
vis-viewer >.panel{
  bottom:0;
  position: absolute;
  height: 80%;
  min-width: 100%;
}

#seePanelBody > div{
    padding-bottom: 4px;
    bottom: 0;
}

.vis-container {
    padding: none;
    padding-top: 4px;
    box-shadow: 1px 1px 1px 1px #eee;
}

 .vis-container .visualization-title {
   font-size: 16px !important;
   font-weight: bold;
 }

 #visualizations {
   padding-top: 5px;
 }

 .scatter-plot {
     overflow: scroll;
 }
 .data-table {
      overflow: scroll;
 }
 .call-graph{
      overflow: visible;
 }
