.seecoderun-tooltip {
   background-color: #FFF;
   background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
   background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
   border: 1px solid gray;
   border-radius: 1px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
   color: black;
   padding: 3px 4px;
   position: absolute;
   z-index: 10;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: default;
   white-space: pre;
   word-wrap: break-word;
   line-height: normal;
   font-style: normal;
   font-weight: normal;
   letter-spacing: normal;
   pointer-events: none;
   display: none;
}

.ace_gutter-cell.seecoderun-gutter-decoration {
   background-color: #FFF;
   border-radius: 0px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ace_gutter-cell.seecoderun-gutter-decoration::before {
    display: block;
    float: left;
    width: 0;
    height: 100%;
    border-left: 1px solid #0066ff;
    content: '';
}

.ace_gutter-cell.seecoderun-gutter-decoration:hover::before {
    display: block;
    float: left;
    width: 0;
    height: 100%;
    border-left: 1px solid #FFF;
    content: '';
}

.ace_gutter-cell.seecoderun-gutter-decoration:hover {
    color: #FFF;
    background-color: #0066ff;
}

#gutterTooltip {
   position: absolute;
   background-color: #FFF;
   border-radius: 0px;
   box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: default;
   line-height: normal;
   font-style: normal;
   font-weight: normal;
   display: none;
   z-index: 999999;
 }

#gutterTooltip > div > div {
   display:inline-block;
   cursor: pointer;
}

#gutterTooltip > div >:first-child {
    padding-right: 4px;
}

#gutterTooltip > div >:last-child {
    padding-left: 4px;
}

#gutterTooltip > div > div:hover {
    background-color: #eee;
}

#gutterTooltip > div > div:active {
    background-color: #0066ff;
}

#gutterNavigatorSlider {
   min-width: 40px;
}

.popover{
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

#editorTooltipContent .custom-popover-title{
    line-height: 14px;
    font-size: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 2px;
    border: none;
    border-bottom: 1px solid #eee;
}

#editorTooltipContent .custom-popover-title i:first-letter {
    text-transform:capitalize;
}


#editorTooltipContent:hover .custom-popover-title{
    border-bottom: 1px solid #0066ff;
}

#editorTooltipContent .popover-content{
    padding: 2px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    /*word-wrap: break-word;*/
    overflow: auto;
}

/*#editorTooltipContent .tooltip.top .tooltip-arrow {*/
/*    left: 5px;*/
/*}*/