.seecoderun-tooltip {
   background-color: #FFF;
   background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.1));
   background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
   border: 1px solid gray;
   border-radius: 1px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
   color: black;
   padding: 3px 4px;
   position: absolute;
   z-index: 10;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: default;
   white-space: pre;
   word-wrap: break-word;
   line-height: normal;
   font-style: normal;
   font-weight: normal;
   letter-spacing: normal;
   pointer-events: none;
   display: none;
}

.ace_gutter-cell.seecoderun-gutter-decoration {
   background-color: #FFF;
   border-radius: 0px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ace_gutter-cell.seecoderun-gutter-decoration::before {
    display: block;
    float: left;
    width: 0;
    height: 100%;
    border-left: 1px solid #0066ff;
    content: '';
}

.ace_gutter-cell.seecoderun-gutter-decoration:hover::before {
    display: block;
    float: left;
    width: 0;
    height: 100%;
    border-left: 1px solid #FFF;
    content: '';
}

.ace_gutter-cell.seecoderun-gutter-decoration:hover {
    color: #FFF;
    background-color: #0066ff;
}

#gutterTooltip {
   position: absolute;
   background-color: #FFF;
   border-radius: 0px;
   box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   cursor: default;
   line-height: normal;
   font-style: normal;
   font-weight: normal;
   display: none;
   z-index: 999999;
 }

#gutterTooltip > div > div {
   display:inline-block;
   cursor: pointer;
}

#gutterTooltip > div >:first-child {
    padding-right: 4px;
}

#gutterTooltip > div >:last-child {
    padding-left: 4px;
}

#gutterTooltip > div > div:hover {
    background-color: #eee;
}

#gutterTooltip > div > div:active {
    background-color: #0066ff;
}

#gutterNavigatorSlider {
   min-width: 40px;
}

.popover{
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

#editorTooltipContentId .custom-popover-title{
    line-height: 18px;
    font-size: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin: 4px;
    border: none;
    border-bottom: 1px solid #eee;
}

#editorTooltipContentId:hover .custom-popover-title{
    border-bottom: 1px solid #0066ff;
}

#editorTooltipContentId .popover-content{
    padding: 4px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    word-wrap: break-word;
}

.treeView {
  -moz-user-select:none;
  position:relative;
}

.treeObj {
  font-family: Monaco;
  font-size: 12px;
}

.treeView ul {
  margin:0 0 0 -1.5em;
  padding:0 0 0 1.5em;
}

.treeView ul ul {
  background:url('../../res/list-item-contents.png') repeat-y left;
}

.treeView li.lastChild > ul {
  background-image:none;
}

.treeView li {
  margin:0;
  padding:0;
  background:url('../../res/list-item-root.png') no-repeat top left;
  list-style-position:inside;
  list-style-image:url('../../res/button.png');
  cursor:auto;
}

.treeView li.collapsibleListOpen {
  list-style-image:url('../../res/button-open.png');
  cursor:pointer;
}

.treeView li.collapsibleListClosed {
  list-style-image:url('../../res/button-closed.png');
  cursor:pointer;
}

.treeView li li {
  background-image:url('../../res/list-item.png');
  padding-left:1.5em;
}

.treeView li.lastChild {
  background-image:url('../../res/list-item-last.png');
}

.treeView li.collapsibleListOpen {
  background-image:url('../../res/list-item-open.png');
}

.treeView li.collapsibleListOpen.lastChild {
  background-image:url('../../res/list-item-last-open.png');
}

.elementNode {
  color: #881280;
}

.sign {
  color: #A894A6;
}

.textNode {
  color: rgb(196, 26, 22);
}

.attr {
  color: rgb(153, 69, 0);
}

.attrValue {
  color: rgb(26, 26, 166);
}

.key {
  color: #881280;
}

.stringLiteral {
  color: rgb(196, 26, 22);
}

.literal {
  color: rgb(26, 26, 166);
}

.null {
    font-weight: bold;
    color: rgb(26, 26, 100);
}

.undefined {
    font-style: italic;
    color: rgb(26, 26, 66);
}

.boolean {
  color: rgb(26, 166, 166);
}

.function {
  color: rgb(26, 26, 166);
}
