#historyBox {
    float: right;
    width: 200px;
}

#historySlider:hover {
    background-color: #888888;
}

#historyChangeButton {
    cursor: pointer;
    font-size: 22px;
    color: #888888;
}

#historyChangeButton:hover {
    color: #3C8AFC;
}

#historyChangeButton:active {
    color: #0066ff;
}