<template bindable="router">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">

			<div class="navbar navbar-brand">
				<img src="src\layout\SeeCodeRunTitle.png" alt="See Code Run">
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<div id="hide" class="btn navbar-chat"><span class='glyphicon glyphicon-share'></span>Chat</a></div>
				</li>
				<li>
					<div id="share" class="btn navbar-chat"><span class='glyphicon glyphicon-new-window'></span>Share</a></div>
				</li>
				<li>
					<a href="https://github.com/tlatoza/SeeCodeRun/wiki/SeeCode.Run-Help!"><span class='glyphicon glyphicon-question-sign'></span>Help</a>
				</li>
				<li>
					<a href="mailto:contact@seecode.run"><span class='glyphicon glyphicon-envelope'></span>Contact Us</a>
				</li>
				<li>
					<a href="https://github.com/tlatoza/SeeCodeRun/wiki/About-SeeCode.Run"><span class='glyphicon glyphicon-info-sign'></span>About</a>
				</li>
			</ul>
		</div>
	</nav>

</template>
